.list-menu-items {
  display: flex;
  position: absolute;
  right: -2px;
  top: -8px;
  background-color: white;
  border-radius: 2px;
}

.list-menu-items .menu-item {
  display: flex;
  padding: 2px;
}

.list-menu-items input[type='radio'] {
  display: none;
}

.list-menu-items label {
  display: inline-block;
  cursor: pointer;
}
