.list-menu-items {
  display: flex;
  position: relative;
  float: right;
  top: 5px;
  background-color: white;
  border-radius: 2px;
}

.list-menu-items .menu-item {
  display: inline-block;
  cursor: pointer;
  padding: 2px;
}

.list-menu-items input[type='radio'] {
  display: none;
}

