.meatball-menu {
  position: relative;
  width: 30px;
  height: 17px;
  cursor: pointer;
}

.dots {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #575757;
  color: #575757;
}

.dots::before,
.dots::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  border-radius: 5px;
  background-color: #575757;
  color: #575757;
}

.dots::before {
  left: -7px;
}

.dots::after {
  left: 7px;
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 2;
}

.meatball-menu:hover .dropdown-content {
  display: block;
}
