.meatball-menu {
  position: relative;
  width: 30px;
  height: 17px;
  cursor: pointer;
}

.dots {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 0.27em;
  height: 0.27em;
  border-radius: 50%;
  --dots-color: rgb(66, 66, 66);
  background-color: var(--dots-color);
}

.dots::before,
.dots::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0.27em;
  height: 0.27em;
  border-radius: 50%;
  background-color: var(--dots-color);
}

.dots::before {
  right: 0.45em;
}

.dots::after {
  left: 0.45em;
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 2;
}

.meatball-menu:hover .dropdown-content {
  display: block;
}
