.editor-container {
  justify-self: flex-start;
}
.editor-container .quill {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.editor-container .ql-container {
  border: none;
}

/* Snow Theme */
.editor-container .ql-snow.ql-toolbar {
  display: block;
  border: none;
  padding: 1px;
  transform: scale(0.9);
  align-self: center;
}
.editor-container:focus-within {
  z-index: 1;
}
.editor-container .ql-snow .ql-stroke {
  stroke: #424242;
}
.editor-container .ql-snow .ql-fill {
  fill: #424242;
}

.editor-container .ql-snow .ql-picker {
  color: #424242;
}

.editor-container .ql-editor {
  height: 260px;
  padding: 0px 10px;
  border: none;
  overflow-y: hidden;
}
.editor-container .ql-editor:focus {
  overflow-y: auto;
}
