.editor-container {
  flex: 1;
  display: flex;
  cursor: context-menu;
}
.editor-container .quill {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.editor-container .ql-container {
  border: none;
}

/* Snow Theme */
.editor-container .ql-snow.ql-toolbar {
  padding: 1px 0;
  display: flex;
  border: none;
  align-self: center;
  align-items: center;
}

.editor-container:focus-within {
  z-index: 1;
}

.editor-container:focus-within .ql-snow.ql-snow.ql-toolbar {
  display: flex;
}

.new .editor-container .ql-snow.ql-snow.ql-toolbar {
  display: flex;
}

.editor-container .ql-snow.ql-toolbar button,
.editor-container .ql-snow .ql-toolbar button {
  margin: 2px 3px;
}

.editor-container .ql-toolbar .ql-stroke {
  stroke: #424242;
}

.editor-container .ql-toolbar .ql-fill {
  fill: #424242;
}

.editor-container .ql-toolbar .ql-picker {
  color: #424242;
}

.ql-snow .ql-picker-options {
  padding: 0px;
}
.ql-snow .ql-picker-options .ql-picker-item {
  align-items: center;
  padding-left: 0.5rem;
}

.editor-container .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: #fff;
}
.editor-container .ql-snow .ql-picker.ql-expanded .ql-picker-options {
  top: -340%;
  box-shadow: none;
  outline: 1px solid #fff;
}
.editor-container .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  color: #030101;
}

.ql-snow .ql-picker-options .ql-picker-item:hover {
  background-color: #dadada;
}

.ql-toolbar button:hover {
  background-color: #ffffff;
}

.ql-toolbar button.ql-active {
  background-color: #e7e7e7;
  border: 1px solid #b9b9b9;
}

.ql-toolbar button.ql-active:hover {
  background-color: #ffffff;
}

.editor-container .ql-editor {
  padding: 0px 10px;
  border: none;
  overflow-y: hidden;
}

.editor-container .ql-editor:focus {
  overflow-y: auto;
}
