.editor-container .quill {
  display: flex;
  flex-direction: column-reverse;
}

.editor-container .ql-container {
  border: none;
}

/* Snow Theme */
.editor-container .ql-snow.ql-toolbar {
  display: block;
  border: none;
  padding: 1px;
  transform: scale(0.8);
  align-self: center;
}

.editor-container .ql-snow .ql-stroke {
  stroke: #868686;
}
.editor-container .ql-snow .ql-fill {
  fill: #868686;
}
.editor-container .ql-snow .ql-picker {
  color: #868686;
}

.editor-container .ql-editor {
  min-height: 200px;
  max-height: 200px;
  border: none;
  overflow-y: hidden;
}
.editor-container .ql-editor:focus {
  overflow-y: auto;
}
