.sidebar {
  width: 200px;
  background-color: #f9eaff;
  position: relative;
  height: 100%;
  overflow: auto;
  margin-right: 10px;
  outline: 1px solid #b085ff;
}

.dark-mode .sidebar {
  background-color: #111111;
  color: #dadada;
  outline: 1px solid #5f5f5f;
}

.folders-title {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #cb84ff;
  color: #000;
}

.dark-mode .folders-title {
  background-color: #111111;
  color: #dadada;
}

.folders-title span {
  margin-left: 5px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #b085ff;
}

.dark-mode .clickable:hover {
  color: #fafafa;
}

.add-new-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  outline: 1px solid #b085ff;
  background-color: #f9ebff;
}

.dark-mode .add-new-item {
  outline: 1px solid #dadada;
  color: #dadada;
  background-color: #474747;
}

.add-new-item:focus-within {
  background-color: #fefaff;
}

.dark-mode .add-new-item:focus-within {
  background-color: #585858;
}

.new-item-text {
  font-size: small;
  border: none;
  padding-right: 10px;
  align-self: flex-start;
  width: 100%;
  background-color: transparent;
}

.dark-mode .new-item-text {
  color: #dadada;
}

.dark-mode .new-item-text::placeholder {
  color: #dadada;
}

.new-item-text:focus {
  outline: none;
}

.sidebar .show-all-items {
  padding: 3px;
  height: 2.5rem;
}

.sidebar .item-container {
  display: block;
}

.sidebar .item {
  height: 2rem;
  display: flex;
  align-items: center;
}

.sidebar .item-container.dragging-over {
  max-height: fit-content;
  background-color: #ffffff;
  outline: 1px solid #e2a4ff;
}

.dark-mode .sidebar .item-container.dragging-over {
  background-color: #a8a8a8;
  outline: 1px solid #575757;
}

.sidebar .item-container.dragging-over > div {
  max-height: 2rem;
}

.sidebar .item span {
  padding-left: 5px;
}

.sidebar .delete-item {
  color: #7113ec;
  padding-right: 5px;
}

.dark-mode .sidebar .delete-item {
  color: #dadada;
}

.sidebar .delete-item:hover {
  cursor: pointer;
  color: #ffc3c3;
}

.dark-mode .sidebar .delete-item:hover {
  color: #f5f5f5;
}

.sidebar .item:focus-within {
  background-color: #eaeaea;
}

.dark-mode .sidebar .item:focus-within {
  background-color: #585858;
  color: #dadada;
}

.sidebar .item-text {
  border: none;
  background-color: transparent;
  display: block;
  font-size: small;
  padding: 5px;
  width: 95%;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.dark-mode .sidebar .item-text {
  color: #dadada;
}

.sidebar .item.active {
  background-color: #fefbff;
  outline: 1px solid #b085ff;
}

.dark-mode .sidebar .item.active {
  background-color: #575757;
  outline: none;
}

.sidebar .item.active:hover {
  background-color: #ffffff;
}

.dark-mode .sidebar .item.active:hover {
  background-color: #858585;
}

.sidebar .item:hover:not(.active) {
  background-color: #ffffff;
  cursor: pointer;
}
.dark-mode .sidebar .item:hover:not(.active) {
  background-color: #858585;
}

@media only screen and (max-width: 500px) {
  .sidebar {
    width: 0;
  }
}
