.sidebar {
  width: 200px;
  background-color: var(--wall-color, #f9eaff);
  color: var(--font-color, #333);
  position: relative;
  height: 100%;
  overflow: auto;
  outline: 1px solid var(--outline-color, #b085ff);
}

.folders-title {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--wall-color, #cb84ff);
  color: var(--font-color, #111);
}

.folders-title span {
  margin-left: 5px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: var(--font-color, #b085ff);
}

.add-new-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  outline: 1px solid var(--outline-color, #b085ff);
  background-color: var(--secondary-color, #f9ebff);
}

.add-new-item:focus-within {
  background-color: var(--focus-color, #fefaff);
}

.new-item-text {
  font-size: small;
  border: none;
  padding-right: 10px;
  align-self: flex-start;
  width: 100%;
  background-color: transparent;
  color: var(--font-color, #111);
}

.new-item-text::placeholder {
  color: var(--font-color, #111);
}

.new-item-text:focus {
  outline: none;
}

.sidebar .show-all-items {
  padding-left: 0.3rem;
  height: 2.5rem;
  line-height: 2.5rem;
  user-select: none;
}

.sidebar .item-container {
  display: block;
}

.sidebar .item {
  height: 2rem;
  display: flex;
  align-items: center;
}

.sidebar .item-container.dragging-over {
  max-height: fit-content;
  background-color: var(--focus-color, #fff);
  outline: 1px solid var(--outline-color, #e2a4ff);
}

.sidebar .item-container.dragging-over > div {
  max-height: 2rem;
}

.sidebar .item span {
  padding-left: 5px;
}

.sidebar .item-icon {
  color: var(--font-color, #7113ec);
  padding-right: 5px;
}

.sidebar .item-icon:hover {
  cursor: pointer;
  color: var(--highlight-color, #f18df5);
}

.sidebar .item:focus-within {
  background-color: var(--secondary-color, #eaeaea);
  color: var(--font-color, #333);
}

.sidebar .item-text {
  border: none;
  background-color: transparent;
  display: block;
  font-size: small;
  padding: 5px;
  width: 95%;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  outline: none;
  color: var(--font-color, #333);
}

.sidebar .item.active {
  background-color: var(--focus-color, #fefbff);
  outline: 1px solid var(--focus-color, #b085ff);
}

.sidebar .item.active:hover {
  background-color: var(--hover-color, #fff);
}

.sidebar .item:hover:not(.active) {
  background-color: var(--secondary-color, #fff);
  cursor: pointer;
}
