body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode h1 {
  color: white;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff9fd;
}

.dark-mode {
  background-color: #272727;
}

.side {
  flex: 0 15%;
}

.main {
  flex: 1 85%;
  padding-right: 15px;
  padding-left: 25px;
  padding-bottom: 20px;
  padding-top: 0px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note-container {
  border-radius: 3px;
}

.note {
  background-color: transparent;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}

.note.new {
  background-color: #67d7cc;
}

.note.dragging {
  opacity: 0.5;
  outline: none;
  max-height: 10px;
}

.new-note-content {
  flex: 1 1 auto;
}
.note.new .note-header {
  flex-direction: row-reverse;
}

.note:focus-within {
  outline: 2px solid #67d7cc;
}

.note-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.note:focus-within .note-footer {
  display: none;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  padding: 1px 5px;
  height: 24px;
}

.md-icon {
  cursor: pointer;
  font-size: x-small;
  padding: 2px;
}

.md-icon:hover {
  color: #bababa;
}
.md-icon.md-icon-normal {
  font-size: medium;
}

.search {
  display: flex;
  align-items: center;
  background-color: #fee8ff;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.dark-mode .search {
  background-color: #464646;
  color: #dadada;
}

.search:focus-within {
  outline: 1px solid #ddaaff;
}

.dark-mode .search:focus-within {
  outline: 1px solid #b4b4b4;
}

.search input {
  border: none;
  background-color: transparent;
  width: 100%;
}

.dark-mode .search input {
  color: #dadada;
}
.dark-mode .search input::placeholder {
  color: #dadada;
}

.search input:focus {
  outline: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* ball */
.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: black;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
