*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.dark-mode {
  --wall-color: #272727;
  --outline-color: #3f3f3f;
  --primary-color: #111;
  --secondary-color: #464646;
  --font-color: #fafafa;
  --button-color: #c9c9c9;
  --highlight-color: #b4b4b4;
  --focus-color: #737373;
  --hover-color: #646464;
  background-color: var(--wall-color);
}

.header-main {
  width: 95%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  color: var(--font-color, #000);
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--wall-color, #fff9fd);
}

.side {
  flex: 0 15%;
}

.home-main {
  flex: 1 85%;
  padding-bottom: 20px;
  padding-top: 0px;
  min-height: 100vh;
}
@media (max-width: 650px) {
  .side {
    display: none;
  }
}

.content {
  padding-left: 20px;
  padding-right: 20px;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.note {
  background-color: transparent;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}
.note-content {
  border-radius: 3px;
}
.note.new {
  background-color: #67d7cc;
}

.note.dragging {
  opacity: 0.5;
  outline: none;
  max-height: 10px;
}

.new-note-content {
  flex: 1 1 auto;
}
.note.new .note-header {
  flex-direction: row-reverse;
  user-select: none;
  cursor: context-menu;
}

.note:focus-within {
  outline: 2px solid #67d7cc;
}

.note-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: grab;
  height: 25px;
}

.note:focus-within .note-footer {
  display: none;
}

.note-footer {
  display: none;
  align-items: flex-end;
  justify-content: center;
  font-size: smaller;
  padding: 1px 5px;
  height: 46px;
}

.md-icon {
  cursor: pointer;
  font-size: x-small;
  padding: 2px 4px;
}

.md-icon:hover {
  color: #bababa;
}
.md-icon.md-icon-normal {
  font-size: medium;
}

.search {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color, #fee8ff);
  color: var(--font-color, #000);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search:focus-within {
  outline: 1px solid var(--highlight-color, #ddaaff);
}

.search input {
  border: none;
  background-color: transparent;
  color: var(--font-color, #000);
  width: 100%;
}

.search input::placeholder {
  color: var(--font-color, #000);
}

.search input:focus {
  outline: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* ball */
.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: black;
}

.light-purple {
  color: rgb(240, 36, 251);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button {
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  cursor: pointer;
  margin: 10px 5px;
  align-items: center;
  justify-content: center;
}

button.outline-white {
  width: fit-content;
  background-color: #ffffff;
  color: #000000;
}
button.outline-white:hover {
  background-color: #f1f1f1;
  color: #161616;
}

button.delete {
  padding: 10px;
  background-color: #d81d1d;
  color: white;
}

button.delete:hover {
  background-color: #972a2a;
  color: white;
}

button.cancel {
  padding: 10px;
  background-color: #ffc107;
}
button.cancel:hover {
  background-color: #be8f00;
}

.btn {
  min-width: 5.5rem;
  border-radius: 0.4em;
  background-color: #333;
  padding: 0.2rem 0.5rem;
  user-select: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  transition: filter 200ms ease-in;
}

.btn-outline {
  border: 2px solid #fafafa;
}

.btn-outline:hover {
  filter: brightness(1.5);
}
